{
  "region": [
    {
      "replicaInfo": [
        {
          "id": "1",
          "ip": "127.0.0.1",
          "port": 17001
        },
        {
          "id": "2",
          "ip": "127.0.0.1",
          "port": 17002
        },
        {
          "id": "3",
          "ip": "127.0.0.1",
          "port": 17003
        },
        {
          "id": "4",
          "ip": "127.0.0.1",
          "port": 17004
        },
        {
          "id": "5",
          "ip": "127.0.0.1",
          "port": 17005
        },
        {
          "id": "6",
          "ip": "127.0.0.1",
          "port": 17006
        },
        {
          "id": "7",
          "ip": "127.0.0.1",
          "port": 17007
        },
        {
          "id": "8",
          "ip": "127.0.0.1",
          "port": 17008
        },
        {
          "id": "9",
          "ip": "127.0.0.1",
          "port": 17009
        },
        {
          "id": "10",
          "ip": "127.0.0.1",
          "port": 17010
        },
        {
          "id": "11",
          "ip": "127.0.0.1",
          "port": 17011
        },
        {
          "id": "12",
          "ip": "127.0.0.1",
          "port": 17012
        },
        {
          "id": "13",
          "ip": "127.0.0.1",
          "port": 17013
        },
        {
          "id": "14",
          "ip": "127.0.0.1",
          "port": 17014
        },
        {
          "id": "15",
          "ip": "127.0.0.1",
          "port": 17015
        },
        {
          "id": "16",
          "ip": "127.0.0.1",
          "port": 17016
        }
      ]
    }
  ]
}