{
  "region": [
    {
      "replicaInfo": [
        {
          "id": "1",
          "ip": "127.0.0.1",
          "port": 17001
        },
        {
          "id": "2",
          "ip": "127.0.0.1",
          "port": 17002
        },
        {
          "id": "3",
          "ip": "127.0.0.1",
          "port": 17003
        },
        {
          "id": "4",
          "ip": "127.0.0.1",
          "port": 17004
        }
      ]
    }
  ]
}